/* Width 800px (mobile devices) */
@media all and (max-width: 800px) {
	section.upper-main-content div#slide-1.slide p {
		float: none;
		margin: 0 auto;
		text-align: justify;
	}
	section.main-content div.request-quote div.text {
		text-align: center;
	}
	section.main-content div.request-quote button {
		float: none;
		margin: 0 auto;
	}
}

/* Width 480px (mobile devices) */
@media all and (max-width: 480px) {
	header a span {
		display: none;
	}
	header nav ul {
		display: none;
	}

	header nav button {
		display: block;
		color: #EFEFEF;
	}

	header nav ul.open,
	header nav button:hover + ul {
		display: block;
		position: absolute;
		width: 100px;
		height: 200px;
		top: 25px;
		background: #333;
	}
}