/*
	Content
	=========================
	[0] Contact
*/

/* [0] Contact */
section.main-content fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

section.main-content form label {
	display: block;
}
section.main-content form input {
	display: block;
	margin-bottom: 2.5rem;
}

section.main-content form input {
	width: 300px;
	max-width: 300px;
	border-radius: 3px;
	border: 1px solid #aaa;
	transition: box-shadow .4s;
}
section.main-content form textarea {
	width: 550px;
	max-width: 550px;
	border-radius: 3px;
	border: 1px solid #aaa;
	transition: box-shadow .4s;
	margin: 0 0 2.5rem 0;
}
section.main-content form textarea:focus,
section.main-content form input:focus {
	box-shadow: 0 0 5px 0px #4B9EF6;
}
